In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import g_key

AIzaSyCbpQ9_MEjnL-H6EKtJoM5KLtvSE8WJunc

In [2]:
vacation_df = pd.read_csv('../WeatherPy/weather_data.csv')

vacation_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ushuaia,-54.80,-68.30,51.80,34,40,7.7,AR,1587224082
1,quatre cocos,-20.21,57.76,78.80,74,75,6.7,MU,1587224318
2,cape town,-33.93,18.42,80.01,36,0,4.1,ZA,1587223787
3,sioux lookout,50.10,-91.92,41.00,64,90,9.3,CA,1587224319
4,rio grande,-32.03,-52.10,75.20,64,40,4.1,BR,1587224290

In [3]:
locations = vacation_df[['Lat', 'Lng']]
humidity = vacation_df['Humidity'].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, 
                                  max_intensity=100, point_radius = 1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
ideal_vacation_df = vacation_df.loc[(vacation_df['Cloudiness'] < 20)]
ideal_vacation_df = ideal_vacation_df.loc[(ideal_vacation_df['Humidity'] < 70)]
ideal_vacation_df = ideal_vacation_df.loc[(ideal_vacation_df['Max Temp'] > 70)]

In [5]:
ideal_vacation_df["Coordinates"] = ideal_vacation_df["Lat"].map(str) + ", " + ideal_vacation_df["Lng"].map(str)

ideal_vacation_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Coordinates
2,cape town,-33.93,18.42,80.01,36,0,4.10,ZA,1587223787,"-33.93, 18.42"
20,bredasdorp,-34.53,20.04,77.00,44,0,3.60,ZA,1587224322,"-34.53, 20.04"
31,rocha,-34.48,-54.33,70.23,59,0,3.30,UY,1587224325,"-34.48, -54.33"
53,hermanus,-34.42,19.23,82.00,49,0,1.79,ZA,1587224330,"-34.42, 19.23"
63,awjilah,29.11,21.29,82.38,15,0,4.48,LY,1587224333,"29.11, 21.29"

In [6]:
# Find the nearest hotel for each city in the dataframe
hotel_result = []
target_type = "hotel"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
search_radius = 5000
params = {"keyword" : target_type,
         "radius" : search_radius,
         "key" : g_key}
#Using for loop to grab data and put into hotel_result list above.
for index, row in ideal_vacation_df.iterrows():
    try:
        hotel_coord = row["Coordinates"]
        params["location"] = hotel_coord
        nearest_hotel = requests.get(base_url, params = params).json()
        hotel_result.append(nearest_hotel["results"][0]["name"])
    except IndexError:
        hotel_result.append('None')
#Verifying each city's hotel
ideal_vacation_df['Hotel Name'] = hotel_result
ideal_vacation_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Coordinates,Hotel Name
2,cape town,-33.93,18.42,80.01,36,0,4.10,ZA,1587223787,"-33.93, 18.42",Atlanticview Cape Town Boutique Hotel
20,bredasdorp,-34.53,20.04,77.00,44,0,3.60,ZA,1587224322,"-34.53, 20.04",Victoria Hotel - Bredasdorp
31,rocha,-34.48,-54.33,70.23,59,0,3.30,UY,1587224325,"-34.48, -54.33",Beleza Pura B&B
53,hermanus,-34.42,19.23,82.00,49,0,1.79,ZA,1587224330,"-34.42, 19.23",Birkenhead House
63,awjilah,29.11,21.29,82.38,15,0,4.48,LY,1587224333,"29.11, 21.29",None

In [7]:
locations = ideal_vacation_df[["Lat", "Lng"]]
humidity_pct = ideal_vacation_df["Humidity"].astype(float)
#Used to format the information for markers
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
#Searches for information in dataframe to populate the infobox
hotel_info = [info_box_template.format(**row) for index, row in ideal_vacation_df.iterrows()]
#Searches dataframe for coordinates
hotel_locations = ideal_vacation_df[["Lat", "Lng"]]
#Creates map
fig = gmaps.figure(center= (25,0),zoom_level = 1.8)
#Creates heat map
heat_layer = gmaps.heatmap_layer(locations, weights = humidity_pct,
                                dissipating = False, max_intensity = 100, point_radius = 2)
#Creates markers
marker_layer = gmaps.marker_layer(hotel_locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))